{{ if isset .Site.Params "announcements" }}
{{ if .Site.Params.announcements.enable }}
{{ if isset .Site.Data "announcements" }}
{{ if gt (len .Site.Data.announcements) 0 }}

<section class="bar no-mb">
    <div class="container">
        <div class="row">
            <div class="col-md-12 full-width" style="background: transparent;">
                <!-- <div class="heading text-center" style>
                    <h2>{{ .Site.Params.announcements.title | markdownify }}</h2>
                </div> -->

                <!-- <p class="lead">
                    {{ .Site.Params.announcements.subtitle | markdownify }}
                </p> -->
                <!-- make it take the whole width -->

                <ul class="cars-carousal owl-carousel same-height-row full-width"
                    style="width: 100%; background: transparent;"
                    data-items="{{ default 4 .Site.Params.announcements.items }}"
                    data-autoplay="{{ default false .Site.Params.announcements.auto_play }}"
                    data-slide-speed="{{ default 2000 .Site.Params.announcements.slide_speed }}"
                    data-pagination-speed="{{ default 1000 .Site.Params.announcements.pagination_speed }}">

                    {{ range sort .Site.Data.announcements "weight" }}
                    <li class="item" style="width: 100%; background: transparent;">
                        <div class=" testimonial same-height-always"
                            style="display: flex; justify-content: space-between; width: 100%;background: transparent;">
                            <div class="bottom" style="flex-grow: 1;">
                                <div class="name-picture">
                                    <h2>{{ .title }}</h2>
                                    <h4>{{ .body }}</h4>
                                    <p>{{ .date }}</p>
                                </div>
                            </div>
                            <!-- <a href="{{ .link }}" class="button" style="align-self: center;">{{ .linkText }}</a> -->
                            <a href="{{ .link }}" class="btn btn-template-primary btn-lg" style="align-self: center;">
                                {{ .linkText }}
                            </a>
                        </div>
                    </li>

                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}