<section class="no-mb" style="height: 100vh;">
    <div class="home-carousel">
        {{ partial "carousel.html" . }}
        <div class="dark-mask"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h1>The top eco-racing team in the MENA region</h1>
                    <p>The 1st team from Cairo University to participate in the Shell Eco-Marathon competition that aims at driving greenly powered cars.</p>
                </div>
            </div>
        </div>
    </div>
</section>