<div>
  
  <div class="cover-image">
    <!-- TODO: Change the src of the cover img -->
    <img src="/img/placeholder.png" alt="cover" />
  </div>
  <h1 class="main-heading heading">Meet Our Sub-Teams</h1>
  
  <div class="button-teams">
    <!-- TODO: Change the teams names to be dynamic -->
    <button class="team-button"> Autonomous </button>
    <button class="team-button"> Mechanical </button>
    <button class="team-button"> Electrical </button>
    <button class="team-button"> Logistics and Planning </button>
    <button class="team-button"> Operations </button>
    <button class="team-button"> Web development </button>
  </div>
  <!-- starting of define teams -->

  <!-- TODO: Add Teams dynamically -->
  <!-- Web Development team -->
  <!-- TODO: Change the name of the team to be dynamic -->
  <div id="web-development" class="hide sub-team">
    <!-- TODO: Change the name of the team to be dynamic -->
    <h2 class="sub-heading heading">Web & App development Sub-team</h2>
    <p class="sub-team-p">
      <!-- TODO: Change the description of the team to be dynamic -->
      Web & App development Sub-team was created on October 2019. The sub-team
      is responsible for developing the website and mobile application for the
      Eco-racing team taking in account the UI and UX principles when creating
      applications.
    </p>

    <div class="head-card">
      <!-- TODO: Change the team head name to be dynamic -->
      <h3 class="head-card-title">web development head</h3>
      <div class="head-card-img-div">
        <!-- TODO: Change the src of the head img to be dynamic -->
        <img src="/img/placeholder.png" alt="profile" />
      </div>
      <!-- TODO: Change the name of the head to be dynamic -->
      <p class="head-card-name">Name</p>
      <!-- TODO: Change the links of the head social media to be dynamic and add the links -->
      <ul class="icons-list">
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
      </ul>
    </div>

    <div class="head-card-title">Members</div>

    <!-- start slider -->
    <div class="center-slider">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <!--  TODO: Create Members cards dynamically -->
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
                <div class="member-card-content">
                  <h4 class="member-name">name</h4>
                  <p class="member-role">role</p>
                  <ul class="icons-list">
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <!-- end slider -->

  <!-- electrical team -->
  <div id="electrical" class="hide sub-team">
    <h2 class="sub-heading heading">Electrical Sub-team</h2>
    <p class="sub-team-p">
      Electrical team Sub-team was created on ............
    </p>

    <div class="head-card">
      <h3 class="head-card-title">Electrical head</h3>
      <div class="head-card-img-div">
        <img src="/img/placeholder.png" alt="profile" />
      </div>
      <p class="head-card-name">Name</p>
      <ul class="icons-list">
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
      </ul>
    </div>

    <div class="head-card-title">Members</div>

    <!-- start slider -->
    <div class="center-slider">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
                <div class="member-card-content">
                  <h4 class="member-name">name</h4>
                  <p class="member-role">role</p>
                  <ul class="icons-list">
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- end slider -->
  </div>

  <!-- operation team -->
  <div id="operations" class="hide sub-team">
    <h2 class="sub-heading heading">Operation Sub-team</h2>
    <p class="sub-team-p">
      Operation team Sub-team was created on ............
    </p>

    <div class="head-card">
      <h3 class="head-card-title">Operation head</h3>
      <div class="head-card-img-div">
        <img src="/img/placeholder.png" alt="profile" />
      </div>
      <p class="head-card-name">Name</p>
      <ul class="icons-list">
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
      </ul>
    </div>

    <div class="head-card-title">Members</div>

    <!-- start slider -->
    <div class="center-slider">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
                <div class="member-card-content">
                  <h4 class="member-name">name</h4>
                  <p class="member-role">role</p>
                  <ul class="icons-list">
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- end slider -->
  </div>
  <!--Logistics and Planning team  -->
  <div id="logistics-and-planning" class="hide sub-team">
    <h2 class="sub-heading heading">Logistics and Planning Sub-team</h2>
    <p class="sub-team-p">
      Logistics and Planning team Sub-team was created on ............
    </p>

    <div class="head-card">
      <h3 class="head-card-title">Logistics and Planning head</h3>
      <div class="head-card-img-div">
        <img src="/img/placeholder.png" alt="profile" />
      </div>
      <p class="head-card-name">Name</p>
      <ul class="icons-list">
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
      </ul>
    </div>

    <div class="head-card-title">Members</div>

    <!-- start slider -->
    <div class="center-slider">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
                <div class="member-card-content">
                  <h4 class="member-name">name</h4>
                  <p class="member-role">role</p>
                  <ul class="icons-list">
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- end slider -->
  </div>

  <!-- mechanical -->
  <div id="mechanical" class="hide sub-team">
    <h2 class="sub-heading heading">Mechanical Sub-team</h2>
    <p class="sub-team-p">
      Mechanical team Sub-team was created on ............
    </p>

    <div class="head-card">
      <h3 class="head-card-title">Mechanical head</h3>
      <div class="head-card-img-div">
        <img src="/img/placeholder.png" alt="profile" />
      </div>
      <p class="head-card-name">Name</p>
      <ul class="icons-list">
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
      </ul>
    </div>

    <div class="head-card-title">Members</div>

    <!-- start slider -->
    <div class="center-slider">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
                <div class="member-card-content">
                  <h4 class="member-name">name</h4>
                  <p class="member-role">role</p>
                  <ul class="icons-list">
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- end slider -->
  </div>

  <!-- autonomous -->
  <div id="autonomous" class="hide sub-team">
    <h2 class="sub-heading heading">Autonomous Sub-team</h2>
    <p class="sub-team-p">
      Autonomous team Sub-team was created on ............
    </p>

    <div class="head-card">
      <h3 class="head-card-title">Autonomous head</h3>
      <div class="head-card-img-div">
        <img src="/img/placeholder.png" alt="profile" />
      </div>
      <p class="head-card-name">Name</p>
      <ul class="icons-list">
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
        <li class="icons-list-item">
          <a><img src="/img/placeholder.png" alt="img" /></a>
        </li>
      </ul>
    </div>

    <div class="head-card-title">Members</div>

    <!-- start slider -->
    <div class="center-slider">
      <div class="slide-container swiper">
        <div class="slide-content">
          <div class="card-wrapper swiper-wrapper">
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>

              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
                <div class="member-card-content">
                  <h4 class="member-name">name</h4>
                  <p class="member-role">role</p>
                  <ul class="icons-list">
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                    <li class="icons-list-item">
                      <a><img src="/img/placeholder.png" alt="img" /></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="member-card swiper-slide">
              <div class="image-content">
                <div class="member-card-image">
                  <img src="/img/placeholder.png" alt="pic" class="member-card-img" />
                </div>
              </div>
              <div class="member-card-content">
                <h4 class="member-name">name</h4>
                <p class="member-role">role</p>
                <ul class="icons-list">
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                  <li class="icons-list-item">
                    <a><img src="/img/placeholder.png" alt="img" /></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-next swiper-navBtn"></div>
        <div class="swiper-button-prev swiper-navBtn"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
    <!-- end slider -->
  </div>
</div>
