/* your styles go here */
.h2, h2 {
    font-size: 46px;
}
/* Example site test */

.box-image-text .image {
    height: 215px;
  }
  
  .box-image-text .image img {
    max-height: 215px;
    margin: auto;
  }
  
  .box-simple {
    min-height: 230px;
  }
  
