@font-face {
  font-family: 'Pathway Gothic One';
  src: url('{{ site.BaseURL }}/PathwayGothicOne-Regular.ttf') format('truetype');
  font-weight: normal;
}

/*@font-face {
  font-family: 'Pathway Gothic One';
  src: url('{{ site.BaseURL }}/fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Pathway Gothic One';
  src: url('{{ site.BaseURL }}/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: bold;
}
*/
