.navbar {
  position: absolute;
  z-index: 100;
  width: 100%;
  .navbar-brand {
    img {
      width: auto;
      max-height: calc(1.4rem + .6vw);
    }
  }
  .navbar-nav {
    .nav-link.text-primary {
      color: #fff !important;
    }
  }
}
